Process_Killer/Service References/ZIMRA_Online/ZimraOnline.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://10.237.61.33:62188/Zimra.asmx/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://10.237.61.33:62188/Zimra.asmx/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://10.237.61.33:62188/Zimra.asmx/">
      <s:element name="iniCheckStatus">
        <s:complexType />
      </s:element>
      <s:element name="iniCheckStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iniCheckStatusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZIMRA_PaymentAdvice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BPNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CaptureTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PaymentDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReferenceNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RRN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TaxCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZIMRA_PaymentAdviceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZIMRA_PaymentAdviceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZIMRA_ContractQry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BPNumber_C" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TaxCoder_C" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZIMRA_ContractQryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZIMRA_ContractQryResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Response">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="0" maxOccurs="1" name="BPNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExtensionDataObject" />
      <s:element name="AU_PostTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="schoolCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bankAccNo" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="studentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="studentName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="payAmnt" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentRef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PaymentDesc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PaymentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UniqueRef" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AU_PostTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AU_PostTransactionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AU_verifyStudent_No">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="studentNO_Local" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="schoolCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AU_verifyStudent_NoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AU_verifyStudent_NoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_RRN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BPNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uniqueTrnID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="requestType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_RRNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_RRNResult" type="tns:RRN_Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RRN_Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RRNRequestSuccessYN" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="RRN_message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Serial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RRN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RRN_Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="bpNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="trnID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ZIMRA_PaymentAdvice_Proxy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BPNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CaptureTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PaymentDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReferenceNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RRN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TaxCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZIMRA_PaymentAdvice_ProxyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZIMRA_PaymentAdvice_ProxyResult" type="tns:Receipt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Receipt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BPNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CaptureTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiptNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomsReceiptNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiptDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomsReceiptDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiptTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogMessageNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageV1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageV2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageV3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageV4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomsMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RRN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="post_ZIMRA_Transaction_with_Retry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postingUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="postingUserPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BPN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stationCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="obligationID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isWalkIn" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="tranAmount" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="currencyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceReference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobileNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="drAcc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="crAcc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="RetryNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="post_ZIMRA_Transaction_with_RetryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="post_ZIMRA_Transaction_with_RetryResult" type="tns:post_ZIMRA_Transaction_Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="post_ZIMRA_Transaction_Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="successOrFailure" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseNarrative" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResponseError" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ResponseTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Posted_Online" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ZIMRA_Reciept" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZIMRA_RRN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SerialN" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="post_ZIMRA_Transaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postingUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="postingUserPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BPN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stationCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="obligationID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isWalkIn" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="tranAmount" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="currencyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceReference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobileNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="drAcc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="crAcc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="post_ZIMRA_TransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="post_ZIMRA_TransactionResult" type="tns:post_ZIMRA_Transaction_Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OTP_Auth_Request">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MSISDN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="OTPRetry" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OTP_Auth_RequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OTP_Auth_RequestResult" type="tns:auth_Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="auth_Response">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AuthAccontList" type="tns:auth_Accounts" />
          <s:element minOccurs="1" maxOccurs="1" name="authStatus" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="authToken" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="authMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="authTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="auth_Accounts">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Acclinst" type="tns:ArrayOfAuth_Account" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAuth_Account">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Auth_Account" nillable="true" type="tns:Auth_Account" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Auth_Account">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AccountNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ACCT_NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ACCT_CRNCY_CODE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsMainAccount" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="OTP_Auth_Verify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MSISDN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="OTPSession" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OTP_Auth_VerifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OTP_Auth_VerifyResult" type="tns:auth_Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="keyField_Verification_Text">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchUserPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchProduct" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="keyField_Verification_TextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keyField_Verification_TextResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="keyField_Verification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchUserPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchProduct" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="keyField_VerificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keyField_VerificationResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CIMAS_verifyMember_No">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memberType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memberNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CIMAS_verifyMember_NoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CIMAS_verifyMember_NoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BFIS_AuthToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BFIS_AuthTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BFIS_AuthTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Presbyterian_verifyMember_No">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memberType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memberNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Presbyterian_verifyMember_NoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Presbyterian_verifyMember_NoResult" type="tns:cls_Presbyterian_Detail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="cls_Presbyterian_Detail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="studentId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="studentName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MSU_Payment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="local_bankCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="local_currencyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="local_paymentCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="local_referenceNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="local_studentRegistrationNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="local_amount" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MSU_PaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MSU_PaymentResult" type="tns:MSU_Custom_Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MSU_Custom_Response">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MSU_Response_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MSU_Response_message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MSU_Response_CustomMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Presbyterian_Payment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="studentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="studentName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="payAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="feesCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="refNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Narration" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Presbyterian_PaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Presbyterian_PaymentResult" type="tns:cls_Presbyterian_Detail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AU_GetAllStudents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="schoolCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AU_GetAllStudentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AU_GetAllStudentsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZIMRA_RecieverRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dt_DateCreated" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZIMRA_RecieverRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZIMRA_RecieverRequestResult" type="tns:ArrayOfRecord" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Record" nillable="true" type="tns:Record" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Record">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="0" maxOccurs="1" name="BPNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BPName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DateCreated" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BPStatus" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PPC_PaymentAdvice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Trn_CustName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Trn_Date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Trn_ValueDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Trn_Burks" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Trn_AgentCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Trn_Txt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Trn_Amnt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Trn_Invoice" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PPC_PaymentAdviceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PPC_PaymentAdviceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRelatedAccounts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchUserPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRelatedAccountsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getRelatedAccountsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="synch_Accounts_to_ZIMRA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="primaryAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="synch_Accounts_to_ZIMRAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="synch_Accounts_to_ZIMRAResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZesaTokenPurchase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SelectPin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="paymentAmount" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="Trxn_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Source_System" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZesaTokenPurchaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZesaTokenPurchaseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="iniCheckStatusSoapIn">
    <wsdl:part name="parameters" element="tns:iniCheckStatus" />
  </wsdl:message>
  <wsdl:message name="iniCheckStatusSoapOut">
    <wsdl:part name="parameters" element="tns:iniCheckStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ZIMRA_PaymentAdviceSoapIn">
    <wsdl:part name="parameters" element="tns:ZIMRA_PaymentAdvice" />
  </wsdl:message>
  <wsdl:message name="ZIMRA_PaymentAdviceSoapOut">
    <wsdl:part name="parameters" element="tns:ZIMRA_PaymentAdviceResponse" />
  </wsdl:message>
  <wsdl:message name="ZIMRA_ContractQrySoapIn">
    <wsdl:part name="parameters" element="tns:ZIMRA_ContractQry" />
  </wsdl:message>
  <wsdl:message name="ZIMRA_ContractQrySoapOut">
    <wsdl:part name="parameters" element="tns:ZIMRA_ContractQryResponse" />
  </wsdl:message>
  <wsdl:message name="AU_PostTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:AU_PostTransaction" />
  </wsdl:message>
  <wsdl:message name="AU_PostTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:AU_PostTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="AU_verifyStudent_NoSoapIn">
    <wsdl:part name="parameters" element="tns:AU_verifyStudent_No" />
  </wsdl:message>
  <wsdl:message name="AU_verifyStudent_NoSoapOut">
    <wsdl:part name="parameters" element="tns:AU_verifyStudent_NoResponse" />
  </wsdl:message>
  <wsdl:message name="get_RRNSoapIn">
    <wsdl:part name="parameters" element="tns:get_RRN" />
  </wsdl:message>
  <wsdl:message name="get_RRNSoapOut">
    <wsdl:part name="parameters" element="tns:get_RRNResponse" />
  </wsdl:message>
  <wsdl:message name="ZIMRA_PaymentAdvice_ProxySoapIn">
    <wsdl:part name="parameters" element="tns:ZIMRA_PaymentAdvice_Proxy" />
  </wsdl:message>
  <wsdl:message name="ZIMRA_PaymentAdvice_ProxySoapOut">
    <wsdl:part name="parameters" element="tns:ZIMRA_PaymentAdvice_ProxyResponse" />
  </wsdl:message>
  <wsdl:message name="post_ZIMRA_Transaction_with_RetrySoapIn">
    <wsdl:part name="parameters" element="tns:post_ZIMRA_Transaction_with_Retry" />
  </wsdl:message>
  <wsdl:message name="post_ZIMRA_Transaction_with_RetrySoapOut">
    <wsdl:part name="parameters" element="tns:post_ZIMRA_Transaction_with_RetryResponse" />
  </wsdl:message>
  <wsdl:message name="post_ZIMRA_TransactionSoapIn">
    <wsdl:part name="parameters" element="tns:post_ZIMRA_Transaction" />
  </wsdl:message>
  <wsdl:message name="post_ZIMRA_TransactionSoapOut">
    <wsdl:part name="parameters" element="tns:post_ZIMRA_TransactionResponse" />
  </wsdl:message>
  <wsdl:message name="OTP_Auth_RequestSoapIn">
    <wsdl:part name="parameters" element="tns:OTP_Auth_Request" />
  </wsdl:message>
  <wsdl:message name="OTP_Auth_RequestSoapOut">
    <wsdl:part name="parameters" element="tns:OTP_Auth_RequestResponse" />
  </wsdl:message>
  <wsdl:message name="OTP_Auth_VerifySoapIn">
    <wsdl:part name="parameters" element="tns:OTP_Auth_Verify" />
  </wsdl:message>
  <wsdl:message name="OTP_Auth_VerifySoapOut">
    <wsdl:part name="parameters" element="tns:OTP_Auth_VerifyResponse" />
  </wsdl:message>
  <wsdl:message name="keyField_Verification_TextSoapIn">
    <wsdl:part name="parameters" element="tns:keyField_Verification_Text" />
  </wsdl:message>
  <wsdl:message name="keyField_Verification_TextSoapOut">
    <wsdl:part name="parameters" element="tns:keyField_Verification_TextResponse" />
  </wsdl:message>
  <wsdl:message name="keyField_VerificationSoapIn">
    <wsdl:part name="parameters" element="tns:keyField_Verification" />
  </wsdl:message>
  <wsdl:message name="keyField_VerificationSoapOut">
    <wsdl:part name="parameters" element="tns:keyField_VerificationResponse" />
  </wsdl:message>
  <wsdl:message name="CIMAS_verifyMember_NoSoapIn">
    <wsdl:part name="parameters" element="tns:CIMAS_verifyMember_No" />
  </wsdl:message>
  <wsdl:message name="CIMAS_verifyMember_NoSoapOut">
    <wsdl:part name="parameters" element="tns:CIMAS_verifyMember_NoResponse" />
  </wsdl:message>
  <wsdl:message name="BFIS_AuthTokenSoapIn">
    <wsdl:part name="parameters" element="tns:BFIS_AuthToken" />
  </wsdl:message>
  <wsdl:message name="BFIS_AuthTokenSoapOut">
    <wsdl:part name="parameters" element="tns:BFIS_AuthTokenResponse" />
  </wsdl:message>
  <wsdl:message name="Presbyterian_verifyMember_NoSoapIn">
    <wsdl:part name="parameters" element="tns:Presbyterian_verifyMember_No" />
  </wsdl:message>
  <wsdl:message name="Presbyterian_verifyMember_NoSoapOut">
    <wsdl:part name="parameters" element="tns:Presbyterian_verifyMember_NoResponse" />
  </wsdl:message>
  <wsdl:message name="MSU_PaymentSoapIn">
    <wsdl:part name="parameters" element="tns:MSU_Payment" />
  </wsdl:message>
  <wsdl:message name="MSU_PaymentSoapOut">
    <wsdl:part name="parameters" element="tns:MSU_PaymentResponse" />
  </wsdl:message>
  <wsdl:message name="Presbyterian_PaymentSoapIn">
    <wsdl:part name="parameters" element="tns:Presbyterian_Payment" />
  </wsdl:message>
  <wsdl:message name="Presbyterian_PaymentSoapOut">
    <wsdl:part name="parameters" element="tns:Presbyterian_PaymentResponse" />
  </wsdl:message>
  <wsdl:message name="AU_GetAllStudentsSoapIn">
    <wsdl:part name="parameters" element="tns:AU_GetAllStudents" />
  </wsdl:message>
  <wsdl:message name="AU_GetAllStudentsSoapOut">
    <wsdl:part name="parameters" element="tns:AU_GetAllStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="ZIMRA_RecieverRequestSoapIn">
    <wsdl:part name="parameters" element="tns:ZIMRA_RecieverRequest" />
  </wsdl:message>
  <wsdl:message name="ZIMRA_RecieverRequestSoapOut">
    <wsdl:part name="parameters" element="tns:ZIMRA_RecieverRequestResponse" />
  </wsdl:message>
  <wsdl:message name="PPC_PaymentAdviceSoapIn">
    <wsdl:part name="parameters" element="tns:PPC_PaymentAdvice" />
  </wsdl:message>
  <wsdl:message name="PPC_PaymentAdviceSoapOut">
    <wsdl:part name="parameters" element="tns:PPC_PaymentAdviceResponse" />
  </wsdl:message>
  <wsdl:message name="getRelatedAccountsSoapIn">
    <wsdl:part name="parameters" element="tns:getRelatedAccounts" />
  </wsdl:message>
  <wsdl:message name="getRelatedAccountsSoapOut">
    <wsdl:part name="parameters" element="tns:getRelatedAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="synch_Accounts_to_ZIMRASoapIn">
    <wsdl:part name="parameters" element="tns:synch_Accounts_to_ZIMRA" />
  </wsdl:message>
  <wsdl:message name="synch_Accounts_to_ZIMRASoapOut">
    <wsdl:part name="parameters" element="tns:synch_Accounts_to_ZIMRAResponse" />
  </wsdl:message>
  <wsdl:message name="ZesaTokenPurchaseSoapIn">
    <wsdl:part name="parameters" element="tns:ZesaTokenPurchase" />
  </wsdl:message>
  <wsdl:message name="ZesaTokenPurchaseSoapOut">
    <wsdl:part name="parameters" element="tns:ZesaTokenPurchaseResponse" />
  </wsdl:message>
  <wsdl:portType name="ZimraWebServiceSoap">
    <wsdl:operation name="iniCheckStatus">
      <wsdl:input message="tns:iniCheckStatusSoapIn" />
      <wsdl:output message="tns:iniCheckStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZIMRA_PaymentAdvice">
      <wsdl:input message="tns:ZIMRA_PaymentAdviceSoapIn" />
      <wsdl:output message="tns:ZIMRA_PaymentAdviceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZIMRA_ContractQry">
      <wsdl:input message="tns:ZIMRA_ContractQrySoapIn" />
      <wsdl:output message="tns:ZIMRA_ContractQrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AU_PostTransaction">
      <wsdl:input message="tns:AU_PostTransactionSoapIn" />
      <wsdl:output message="tns:AU_PostTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AU_verifyStudent_No">
      <wsdl:input message="tns:AU_verifyStudent_NoSoapIn" />
      <wsdl:output message="tns:AU_verifyStudent_NoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_RRN">
      <wsdl:input message="tns:get_RRNSoapIn" />
      <wsdl:output message="tns:get_RRNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZIMRA_PaymentAdvice_Proxy">
      <wsdl:input message="tns:ZIMRA_PaymentAdvice_ProxySoapIn" />
      <wsdl:output message="tns:ZIMRA_PaymentAdvice_ProxySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="post_ZIMRA_Transaction_with_Retry">
      <wsdl:input message="tns:post_ZIMRA_Transaction_with_RetrySoapIn" />
      <wsdl:output message="tns:post_ZIMRA_Transaction_with_RetrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="post_ZIMRA_Transaction">
      <wsdl:input message="tns:post_ZIMRA_TransactionSoapIn" />
      <wsdl:output message="tns:post_ZIMRA_TransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OTP_Auth_Request">
      <wsdl:input message="tns:OTP_Auth_RequestSoapIn" />
      <wsdl:output message="tns:OTP_Auth_RequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OTP_Auth_Verify">
      <wsdl:input message="tns:OTP_Auth_VerifySoapIn" />
      <wsdl:output message="tns:OTP_Auth_VerifySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="keyField_Verification_Text">
      <wsdl:input message="tns:keyField_Verification_TextSoapIn" />
      <wsdl:output message="tns:keyField_Verification_TextSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="keyField_Verification">
      <wsdl:input message="tns:keyField_VerificationSoapIn" />
      <wsdl:output message="tns:keyField_VerificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CIMAS_verifyMember_No">
      <wsdl:input message="tns:CIMAS_verifyMember_NoSoapIn" />
      <wsdl:output message="tns:CIMAS_verifyMember_NoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BFIS_AuthToken">
      <wsdl:input message="tns:BFIS_AuthTokenSoapIn" />
      <wsdl:output message="tns:BFIS_AuthTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Presbyterian_verifyMember_No">
      <wsdl:input message="tns:Presbyterian_verifyMember_NoSoapIn" />
      <wsdl:output message="tns:Presbyterian_verifyMember_NoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MSU_Payment">
      <wsdl:input message="tns:MSU_PaymentSoapIn" />
      <wsdl:output message="tns:MSU_PaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Presbyterian_Payment">
      <wsdl:input message="tns:Presbyterian_PaymentSoapIn" />
      <wsdl:output message="tns:Presbyterian_PaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AU_GetAllStudents">
      <wsdl:input message="tns:AU_GetAllStudentsSoapIn" />
      <wsdl:output message="tns:AU_GetAllStudentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZIMRA_RecieverRequest">
      <wsdl:input message="tns:ZIMRA_RecieverRequestSoapIn" />
      <wsdl:output message="tns:ZIMRA_RecieverRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PPC_PaymentAdvice">
      <wsdl:input message="tns:PPC_PaymentAdviceSoapIn" />
      <wsdl:output message="tns:PPC_PaymentAdviceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getRelatedAccounts">
      <wsdl:input message="tns:getRelatedAccountsSoapIn" />
      <wsdl:output message="tns:getRelatedAccountsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="synch_Accounts_to_ZIMRA">
      <wsdl:input message="tns:synch_Accounts_to_ZIMRASoapIn" />
      <wsdl:output message="tns:synch_Accounts_to_ZIMRASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZesaTokenPurchase">
      <wsdl:input message="tns:ZesaTokenPurchaseSoapIn" />
      <wsdl:output message="tns:ZesaTokenPurchaseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZimraWebServiceSoap" type="tns:ZimraWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="iniCheckStatus">
      <soap:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/iniCheckStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZIMRA_PaymentAdvice">
      <soap:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/ZIMRA_PaymentAdvice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZIMRA_ContractQry">
      <soap:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/ZIMRA_ContractQry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AU_PostTransaction">
      <soap:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/AU_PostTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AU_verifyStudent_No">
      <soap:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/AU_verifyStudent_No" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_RRN">
      <soap:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/get_RRN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZIMRA_PaymentAdvice_Proxy">
      <soap:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/ZIMRA_PaymentAdvice_Proxy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="post_ZIMRA_Transaction_with_Retry">
      <soap:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/post_ZIMRA_Transaction_with_Retry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="post_ZIMRA_Transaction">
      <soap:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/post_ZIMRA_Transaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OTP_Auth_Request">
      <soap:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/OTP_Auth_Request" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OTP_Auth_Verify">
      <soap:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/OTP_Auth_Verify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="keyField_Verification_Text">
      <soap:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/keyField_Verification_Text" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="keyField_Verification">
      <soap:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/keyField_Verification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CIMAS_verifyMember_No">
      <soap:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/CIMAS_verifyMember_No" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BFIS_AuthToken">
      <soap:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/BFIS_AuthToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Presbyterian_verifyMember_No">
      <soap:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/Presbyterian_verifyMember_No" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MSU_Payment">
      <soap:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/MSU_Payment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Presbyterian_Payment">
      <soap:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/Presbyterian_Payment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AU_GetAllStudents">
      <soap:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/AU_GetAllStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZIMRA_RecieverRequest">
      <soap:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/ZIMRA_RecieverRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PPC_PaymentAdvice">
      <soap:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/PPC_PaymentAdvice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRelatedAccounts">
      <soap:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/getRelatedAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synch_Accounts_to_ZIMRA">
      <soap:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/synch_Accounts_to_ZIMRA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZesaTokenPurchase">
      <soap:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/ZesaTokenPurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZimraWebServiceSoap12" type="tns:ZimraWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="iniCheckStatus">
      <soap12:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/iniCheckStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZIMRA_PaymentAdvice">
      <soap12:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/ZIMRA_PaymentAdvice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZIMRA_ContractQry">
      <soap12:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/ZIMRA_ContractQry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AU_PostTransaction">
      <soap12:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/AU_PostTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AU_verifyStudent_No">
      <soap12:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/AU_verifyStudent_No" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_RRN">
      <soap12:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/get_RRN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZIMRA_PaymentAdvice_Proxy">
      <soap12:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/ZIMRA_PaymentAdvice_Proxy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="post_ZIMRA_Transaction_with_Retry">
      <soap12:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/post_ZIMRA_Transaction_with_Retry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="post_ZIMRA_Transaction">
      <soap12:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/post_ZIMRA_Transaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OTP_Auth_Request">
      <soap12:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/OTP_Auth_Request" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OTP_Auth_Verify">
      <soap12:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/OTP_Auth_Verify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="keyField_Verification_Text">
      <soap12:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/keyField_Verification_Text" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="keyField_Verification">
      <soap12:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/keyField_Verification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CIMAS_verifyMember_No">
      <soap12:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/CIMAS_verifyMember_No" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BFIS_AuthToken">
      <soap12:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/BFIS_AuthToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Presbyterian_verifyMember_No">
      <soap12:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/Presbyterian_verifyMember_No" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MSU_Payment">
      <soap12:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/MSU_Payment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Presbyterian_Payment">
      <soap12:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/Presbyterian_Payment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AU_GetAllStudents">
      <soap12:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/AU_GetAllStudents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZIMRA_RecieverRequest">
      <soap12:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/ZIMRA_RecieverRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PPC_PaymentAdvice">
      <soap12:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/PPC_PaymentAdvice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRelatedAccounts">
      <soap12:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/getRelatedAccounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synch_Accounts_to_ZIMRA">
      <soap12:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/synch_Accounts_to_ZIMRA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZesaTokenPurchase">
      <soap12:operation soapAction="http://10.237.61.33:62188/Zimra.asmx/ZesaTokenPurchase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZimraWebService">
    <wsdl:port name="ZimraWebServiceSoap" binding="tns:ZimraWebServiceSoap">
      <soap:address location="http://localhost:62190/ZimraOnline.asmx" />
    </wsdl:port>
    <wsdl:port name="ZimraWebServiceSoap12" binding="tns:ZimraWebServiceSoap12">
      <soap12:address location="http://localhost:62190/ZimraOnline.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>